/*  Definint default items here */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-family: Inter; */
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
}
:root {
    --primary-color: #1F4D90;
    --secondary-color: #7994BD;
    --complementary-color: #FFF;
    --border-color: #D3D3D4;
    --light-dark-color: #6E6F6E;
    --primary-light-color: #C2DBFC;
}